<div class="header">
<h3>Do you want to endorse <span class="black-text"><%= @user.full_name %></span>???</h3>

<div class="row">
  <div class="col-md-6"><%= image_tag(@user.avatar.url(:medium), class: 'avatar') %></div>
  <div class="col-md-6">
  		<h2><%= @user.name %> needs your help!</h2><br>
  		<br>
  		<%= link_to "Endorse!", follow_path(@user.id) %>

  </div>
</div>



</div>

